:root {
  --game: #42edb4;
  --finder: #42d1ed;
  --bg: #313131;
  --textcolor: whitesmoke;
  --textcolor2: #bdbdbd;
  --dangeroustext: #fada7a;
}

body {
  background-color: var(--bg);
}

nav {
  color: var(--textcolor);
}
.center {
  padding: 10%;
}

.text-box {
  text-align: center;
}

.photo-box {
  overflow: hidden;
  position: relative;
  height: 250px;
  text-align: center;
  color: var(--textcolor);
}

.photo-box img {
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

.text-box-head {
  color: var(--textcolor);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Black Han Sans", sans-serif;
}
#game {
  color: var(--game);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Black Han Sans", sans-serif;
}

.text-box-head span {
  position: relative;
  color: var(--finder);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Black Han Sans", sans-serif;
  left: -2%;
}

.text-box-subhead {
  font-family: "STIX Two Math", serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: var(--textcolor);
  padding-left: 2%;
  padding-right: 2%;
}
.text-box-subhead span {
  font-family: monospace;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1rem;
  color: var(--dangeroustext);
}

fieldset {
  color: var(--bg);
  border: none;
}

footer {
  text-align: center;
  color: var(--textcolor2);
}
